
/*********general*************/

.photo {
	float: right;
	border: 1.5px;
	border-radius: 50px;
}

.photo1 {
	float: left;
	border: 1.5px;
	border-radius: 100px;
}

.bio {
	display: inline-block;
}

span {
	color: purple;
}


/**********navigation*************/
nav {
	text-align: center;
}

nav li {
	list-style: none;
	display: inline-block;
}

.js-test {
	background: #85144B;
}